.faceRecognition {
    display: flex;
    justify-content: center;
}

.imageContainer {
    position: absolute;
}

.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    justify-content: center;
}